/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
  /* LAYOUT
  /*******************************************/
img {
  display: block;
  margin: 0 auto;
}

/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/

/*start of first section */

header,
main {
  padding-left: 150px;
  padding-right: 150px;
}

nav,
ul {
  display: flex;
  justify-content: space-around;
}

ul {
  flex-basis: 70%;
  font-size: 10px;
}

h1 {
  font-size: 60px;
}

/*start of blackBox in first section*/

.openingSection {
  display: flex;
}

.openWords {
  position: absolute;
  color: white;
}

.openingPic {
  position: relative;
  width: 1000px;
}

.blackBox {
  margin-top: 50px;
  border: 5px solid red;
  width: 250px;
  padding: 30px 10px;
  font-size: 12px;
  line-height: 1.5;
  position: absolute;
}

.bigNums {
  font-size: 32px;
}
/*Start of second section */

.midSection {
  padding: 100px 0;
  display: flex;
  justify-content: space-around;
  line-height: 1.5;
}

/*Initial barber section */

.firstMid {
  text-align: center;
  width: 30%;
}

.barberIcon {
  width: 22%;
}

/*Middle barber chair */
.middleMid {
  text-align: center;
  width: 25%;
}

.barberChair {
  max-width: 30%;
}
/*End of barber chair */

/*Hair styling start*/

.outsideMid {
  width: 25%;
  text-align: center;
}

.hairPomade {
  max-width: 35%;
}

/* End of hair stying*/

/*Start of momentum section */

.bottomThird {
  display: flex;
  padding: 50px;
  line-height: 1.5;
  background-color: lightgrey;
}

.oneHalf {
  width: 50%;
}
.bannerLine {
  font-size: 25px;
}

.beardTrim {
  width: 80%;
}

/* Barbers section */

.barberSection {
  display: flex;
  justify-content: space-around;
  padding: 100px 0;
}

.barberThree {
  width: 50%;
}
