/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
  /* LAYOUT
  /*******************************************/
img {
  display: block;
  margin: 0 auto;
}

/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/

/*start of first section */
nav,
ul {
  display: flex;
  justify-content: space-around;
}

ul {
  flex-basis: 70%;
  font-size: 10px;
}

h1 {
  font-size: 60px;
}

/*start of blackBox in first section*/

.blackBox {
  border: 2px black solid;
}

/*Start of second section */

.midSection {
  display: flex;
  justify-content: space-around;
}

/*Initial barber section */

.firstMid {
  text-align: center;
  width: 30%;
}

.barberIcon {
  width: 22%;
}

/*Middle barber chair */
.middleMid {
  text-align: center;
  width: 25%;
}

.barberChair {
  max-width: 30%;
}
/*End of barber chair */

/*Hair styling start*/

.outsideMid {
  width: 25%;
  text-align: center;
}

.hairPomade {
  max-width: 35%;
}

/* End of hair stying*/
