/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
  /* LAYOUT
  /*******************************************/
img {
  display: block;
  margin: 0 auto;
}

/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/

/*start of first section */

/* header,
main {
} */

nav,
ul {
  display: flex;
  justify-content: space-around;
}

ul {
  flex-basis: 70%;
  font-size: 10px;
}

h1 {
  font-size: 50px;
}

/*start of blackBox in first section*/

.openingSection {
  display: flex;
  flex-direction: column;
}

.openWords {
  position: absolute;
  color: white;
  margin-left: 150px;
  width: 700px;
  margin-top: 100px;
}

.servicesButton {
  margin-top: 50px;
}

.openingPic {
  position: relative;
  width: 100%;
  height: auto;
}

.blackBox {
  margin-top: 400px;
  width: 250px;
  padding: 30px;
  font-size: 12px;
  line-height: 1.5;
  position: absolute;
  color: white;
  background-color: black;
  margin-left: 150px;
}

.bigNums {
  font-size: 32px;
}
/*Start of second section */

.midSection {
  padding: 150px 150px;
  display: flex;
  justify-content: space-around;
  line-height: 1.5;
  margin: 0;
}

/*Initial barber section */

.firstMid {
  text-align: center;
  width: 30%;
}

.barberIcon {
  width: 22%;
}

/*Middle barber chair */
.middleMid {
  text-align: center;
  width: 25%;
}

.barberChair {
  max-width: 30%;
}
/*End of barber chair */

/*Hair styling start*/

.outsideMid {
  width: 25%;
  text-align: center;
}

.hairPomade {
  max-width: 35%;
}

/* End of hair stying*/

/*Start of momentum section */

.bottomThird {
  display: flex;
  padding: 50px;
  line-height: 1.5;
  background-color: #faf0e6;
}

.oneHalf {
  width: 50%;
  padding-left: 150px;
}
.bannerLine {
  font-size: 25px;
}

.beardTrim {
  width: 80%;
  padding-right: 100px;
}

/* Barbers section */

.barberSection {
  display: flex;
  justify-content: space-between;
  padding: 100px 150px;
}

.barberOne {
  width: 95%;
  height: auto;
}

.barberTwo {
  width: 95%;
  height: auto;
}

.barberThree {
  width: 95%;
  height: auto;
}

/* grid section */

.grid-columns {
  display: grid;
  gap: 0;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-size {
  width: 75%;
}

.grid-long {
  width: 75%;
  height: 80%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
  padding-left: 250px;
  padding-top: 200px;
  padding-bottom: 200px;
  justify-content: center;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__img--short {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item-2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 7;
}
.gallery__item-3 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item-4 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 9;
}
.gallery__item-5 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 9;
}
.gallery__item-6 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 9;
}
